/Fecha_Hora/nbproject/private/
/Fecha_Hora/build/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/ServidorCliente/nbproject/private/
/Sockets_Procedures/nbproject/private/
/Banco/nbproject/private/
/OperacionesBase/nbproject/private/
/LamportClock/nbproject/private/
/Tarea#11RelojesLamport_AASA/LamportClock/nbproject/private/
/DistribuidosApp/nbproject/private/
/DistribuidosAppServer/nbproject/private/
/DistribuidosRMi/nbproject/private/
/Persistencia/nbproject/private/