<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MenuPrincipal</servlet-name>
        <servlet-class>Vista.MenuPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuCRUD</servlet-name>
        <servlet-class>Vista.MenuCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaMaterias</servlet-name>
        <servlet-class>Vista.altaMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaMaterias</servlet-name>
        <servlet-class>Vista.AltaMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta_Materias</servlet-name>
        <servlet-class>Vista.Alta_Materias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guarda_Materia</servlet-name>
        <servlet-class>Vista.Guarda_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta_Respuestas</servlet-name>
        <servlet-class>Vista.Alta_Respuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar_Respuestas</servlet-name>
        <servlet-class>Vista.Guardar_Respuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta_Preguntas</servlet-name>
        <servlet-class>Vista.Alta_Preguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar_Pregunta</servlet-name>
        <servlet-class>Vista.Guardar_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta_Examen</servlet-name>
        <servlet-class>Vista.Alta_Examen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar_Examen</servlet-name>
        <servlet-class>Vista.Guardar_Examen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cambio_Materia</servlet-name>
        <servlet-class>Vista.Cambio_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cambio_Respuesta</servlet-name>
        <servlet-class>Vista.Cambio_Respuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cambio_Pregunta</servlet-name>
        <servlet-class>Vista.Cambio_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cambio_Examen</servlet-name>
        <servlet-class>Vista.Cambio_Examen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar_Materia</servlet-name>
        <servlet-class>Vista.Borrar_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar_Respuestas</servlet-name>
        <servlet-class>Vista.Borrar_Respuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar_Pregunta</servlet-name>
        <servlet-class>Vista.Borrar_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar_Examen</servlet-name>
        <servlet-class>Vista.Borrar_Examen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar1_Materia</servlet-name>
        <servlet-class>Vista.Buscar1_Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar1_Respuesta</servlet-name>
        <servlet-class>Vista.Buscar1_Respuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar1_Pregunta</servlet-name>
        <servlet-class>Vista.Buscar1_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar1_Examen</servlet-name>
        <servlet-class>Vista.Buscar1_Examen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte_Respuesta</servlet-name>
        <servlet-class>Vista.Reporte_Respuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Genera_Reporte</servlet-name>
        <servlet-class>Vista.Genera_Reporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuPrincipal</servlet-name>
        <url-pattern>/MenuPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuCRUD</servlet-name>
        <url-pattern>/MenuCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaMaterias</servlet-name>
        <url-pattern>/altaMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaMaterias</servlet-name>
        <url-pattern>/AltaMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta_Materias</servlet-name>
        <url-pattern>/Alta_Materias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guarda_Materia</servlet-name>
        <url-pattern>/Guarda_Materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta_Respuestas</servlet-name>
        <url-pattern>/Alta_Respuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar_Respuestas</servlet-name>
        <url-pattern>/Guardar_Respuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta_Preguntas</servlet-name>
        <url-pattern>/Alta_Preguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar_Pregunta</servlet-name>
        <url-pattern>/Guardar_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta_Examen</servlet-name>
        <url-pattern>/Alta_Examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar_Examen</servlet-name>
        <url-pattern>/Guardar_Examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cambio_Materia</servlet-name>
        <url-pattern>/Cambio_Materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cambio_Respuesta</servlet-name>
        <url-pattern>/Cambio_Respuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cambio_Pregunta</servlet-name>
        <url-pattern>/Cambio_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cambio_Examen</servlet-name>
        <url-pattern>/Cambio_Examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar_Materia</servlet-name>
        <url-pattern>/Borrar_Materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar_Respuestas</servlet-name>
        <url-pattern>/Borrar_Respuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar_Pregunta</servlet-name>
        <url-pattern>/Borrar_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar_Examen</servlet-name>
        <url-pattern>/Borrar_Examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar1_Materia</servlet-name>
        <url-pattern>/Buscar1_Materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar1_Respuesta</servlet-name>
        <url-pattern>/Buscar1_Respuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar1_Pregunta</servlet-name>
        <url-pattern>/Buscar1_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar1_Examen</servlet-name>
        <url-pattern>/Buscar1_Examen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte_Respuesta</servlet-name>
        <url-pattern>/Reporte_Respuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Genera_Reporte</servlet-name>
        <url-pattern>/Genera_Reporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
